body
{
	margin:0px;
	padding:0px;
	background-size:cover;
	background-image:url("ressources/soirée.jpg");
}

/*Acceuil*/



/* style Afrique*/ 

.afrique{
	width:30px;
	height:auto;
}
	
#musique{
		font-family: GeosansLight;
		background-color:transparent;
		padding: 20px;
		color: #FFFFFF;
	}

	.style_musique{
		display:flex;
		flex-direction:row;
		justify-content:center;
		font-size:2.5em;
	}

	.equipe_gauche{
		display:flex;
		flex-direction:row;
		align-items:center;
		margin-right:auto;
		width:80%;
	}


	.equipe_gauche img{
		max-width:290px;
		margin:30px;
		
		
	}
	.text_equipier{
		display:flex;
		flex-direction:column;
		text-justify: auto;
		font-size:1.2em;
		flex-grow:1;
		color: #FFFFFF;
	}

	