body
{
	margin:0px;
	padding:0px;
	background-size:cover;
	background-image:url("ressources/soirée.jpg");
}

/*Acceuil*/



/* style Afrique*/ 

.afrique{
	width:30px;
	height:auto;
}
	
#musique{
		font-family: GeosansLight;
		background-color:transparent;
		padding: 20px;
		color: #FFFFFF;
	}

	.style_musique{
		display:flex;
		flex-direction:row;
		justify-content:center;
		font-size:2.5em;
	}

	.equipe_gauche{
		display:flex;
		flex-direction:row;
		align-items:center;
		margin-right:auto;
		width:80%;
	}

	.equipe_droite{
		display:flex;
		flex-direction:row;
		align-items:center;
		width:80%;
		margin-left:auto;
	}

	.equipe_droite img{
		max-width:290px;
		margin:30px;
		border-radius: 50%;
		box-shadow:0px 7px 11px 3px rgba(0,0,0,0.3);
	}

	.equipe_gauche img{
		max-width:290px;
		margin:30px;
		border-radius: 50%;
		box-shadow:0px 7px 11px 3px rgba(0,0,0,0.3);
	}
	.text_equipier{
		display:flex;
		flex-direction:column;
		text-justify: auto;
		font-size:1.2em;
		flex-grow:1;
		color: #FFFFFF;
	}

	.nom_equipier{
		font-weight:bold;
		font-size:1.4em;
		color: #000000;
	}
}